*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: purple;
}

table, th, td{
    border: 3px solid #BBB;
}

td{
    border: 1px solid #BBB;
}

td{
    background-color: aliceblue;
}

th {
    background-color: azure;
}

table {
    width: 100%;
}

tr{
    height: 50px;
}

.goku {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;
}

button{
    background-color: #9932CC;
    color: black;
    border: none;
    border-radius: 15px;
}