* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #4D007E;
    background-image: url(../_imagens/Goku.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 30%;
}

h1 {
    text-align: center;
    border: 3px 3px 3px;
    font-family: cursive;
    background-color: purple;
    border: dotted 5px gold;
    border-radius: 15px;
    color: orange;
}

fieldset {
    border: 8px 8px 8px solid;
    border-color: gold;
    color: white;
}

input[type="text"]{
    width: 65%;
}

input[type="number"]{
    width: 65%;
}

input[type="tel"]{
    width: 65%;
}

.button{
    background: #9932CC;
    color: black;
    border: none;
    border-radius: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}